{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    {% include 'header.twig' %}

    <div class="container">
        <h1>Mon compte</h1>
        <div class="card">
            <div class="card-body">
                <a href="{{ path('edit_profile_picture') }}">
                    <img class="rounded-circle mr-3" width="200" height="200"
                         src="{{ asset('uploads/media/' ~ user.profilePicture.filename) }}" alt="Photo de profil"
                         class="img-thumbnail mb-3">

                </a>
                <p><strong>Nom :</strong> {{ user.userName }}</p>
                <p><strong>Email :</strong> {{ user.email }}</p>
                <p><strong>Membre depuis :</strong> {{ user.createdAt|date('d/m/Y') }}</p>

                <a href="{{ path('account_edit') }}" class="btn btn-primary">Modifier mon profil</a>
                <a href="{{ path('account_tricks') }}" class="btn btn-primary">Mes tricks</a>
            </div>
        </div>
    </div>
{% endblock %}