{# templates/trick/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails du trick - {{ trick.name }}{% endblock %}

{% block body %}
    {% include 'header.twig' %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card mb-4">
                    <div class="card-body  p-0">
                        <h1 class="pixelify-sans-font my-3 text-decoration-underline">{{ trick.name }}</h1>
                        <p class="p-2 my-4 text-start">{{ trick.description }}</p>
                        <div class="d-flex justify-content-around p-0 m-0">
                            <p><strong>Créé le :</strong> {{ trick.createdAt|date('d/m/Y H:i:s') }}</p>
                            <p><strong>Catégorie :</strong> {{ trick.categoryId.name }}</p>
                            <p><strong>Auteur :</strong> {{ trick.authorId.userName }}</p>
                        </div>
                    </div>
                </div>

                <h2 class="pixelify-sans-font fs-1 text-decoration-underline my-5">Médias</h2>
                <div class="mx-auto">
                    <div class="d-flex">
                        {% if trick.videos|length > 0 %}
                            <div class="col col-8">
                                {% for video in trick.videos %}
                                    <div class="col-md-10 m-3 mx-auto">
                                        <div class="ratio ratio-16x9">
                                            <iframe class="rounded"
                                                    src="https://www.youtube.com/embed{{ asset(video.videoId) }}"
                                                    frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Aucune vidéo disponible pour ce trick.</p>
                        {% endif %}
                        {% if trick.images|length > 0 %}
                            <div class="col col-4">
                                {% for image in trick.images %}
                                    <img src="{{ asset('uploads/media/' ~ image.path) }}" alt="{{ trick.name }}"
                                         class="d-block w-100 rounded m-3">
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>Aucune image disponible pour ce trick.</p>
                        {% endif %}
                    </div>


                </div>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div>
                        <div>
                            <h2 class="pixelify-sans-font m-5">Ajouter un commentaire</h2>
                            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                            <div class="form-group w-100">
                                {{ form_widget(form.content, {'attr': {'class': 'form-control w-100', 'placeholder': 'Votre commentaire'}}) }}
                            </div>
                            <button type="submit" class="pixel mt-4"><p>Commenter</p></button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                {% else %}
                    <p>Veuillez <a href="{{ path('app_login') }}">vous connecter</a> pour ajouter un commentaire.</p>
                {% endif %}


            </div>
        </div>
    </div>
    <div class="first-color-bg col col-12 p-0">
        <div class="col-md-6 mx-auto pt-3">
            <h2 class="pixelify-sans-font my-4">Commentaires</h2>
            {% if trick.comments|length > 0 %}
                <div class="list-group">
                    {% for comment in comments %}
                        <div class="list-group-item list-group-item-action mb-3 rounded">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="d-flex align-items-center">
                                    {% if comment.authorId.profilePicture %}
                                        <img src="{{ asset('uploads/media/' ~ comment.authorId.profilePicture.filename) }}"
                                             alt="Photo de profil" class="rounded-circle mr-3" width="50"
                                             height="50">
                                    {% endif %}
                                    <h5 class="m-2">{{ comment.authorId.userName }}</h5>
                                </div>
                                <small class="pixelify-sans-font">{{ comment.createdAt|date('d/m/Y H:i:s') }}</small>
                            </div>
                            <p class="mb-1">{{ comment.content }}</p>

                            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user == comment.authorId %}
                                <form action="{{ path('comment_delete', {'id': comment.id}) }}" method="post"
                                      class="mt-2">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete' ~ comment.id) }}">
                                    <button type="submit" class="btn btn-danger btn-sm"><span class="pixelify-sans-font">Supprimer</span></button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Aucun commentaire pour le moment.</p>
            {% endif %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {{ knp_pagination_render(comments) }}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
